<footer class="footer">
    <div class="footer__inner">
        {{ if $.Site.Copyright }}
        <div class="copyright copyright--user">
            <span>{{ $.Site.Copyright | safeHTML }}</span> {{else}}
            <div class="copyright">
                <span>© {{ now.Year }} Powered by <a href="https://limpopo.tech">Limpopo Servers - GO Lang</a></span> {{end}}
                <span>:: Written by <a href="https://twitter.com/adamsohiani">Adams Paul</a></span>
            </div>
        </div>
</footer>
  

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="{{ "assets/jquery.teletype.js" | absURL }}"></script>
<script>
    $(function() {
        $('.type-text').each(function() {
            var items = $(this).attr('title') + ';' + $(this).text();
            $(this).empty().attr('title', '').teletype({
                text: $.map(items.split(';'), $.trim),
                typeDelay: 10,
                backDelay: 20,
                cursor: '▋',
                delay: 3000,
                preserve: false,
                prefix: '[adamspaul ~]# ',
                loop: 0
            });
        });
    });
</script>


<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
