<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            {{ partial "logo.html" . }}
        </div>
        <div class="menu-trigger">&#128567</div>
    </div>
    {{ if len $.Site.Menus }} {{ partial "menu.html" . }} {{ end }}
</header>
<p class="type-text" title="In times like this we can only help one another;Coded by *Adams Paul* \nMonitor Covid19's activities in Nigeria Live; Stay Safe , I Love You!;">:)</p>
<div class="">
    <h1 class="post-title">
        # Nigeria Live Stats(@ 7:35 pm 26th March)
    </h1>
    <div>
        <font style="font-size: 20px;">&#129395 No of Dischared Cases: <b>3</b></font>
    </div>
    <div>
        <font style="font-size: 20px;">&#129397 No of New Cases Today: <b>14</b></font>
    </div>
    <div>
        <font style="font-size: 20px;">&#129298 No of Confirmed Cases: <b>65</b></font>
    </div>
    <div>
        <font style="font-size: 20px;">&#128546 No of Death: <b>1</b></font>
    </div>

</div>
<div class="post on-list">
    <h1 class="post-title">
        # Menu
    </h1>

<div class="row">

<div class="col-6">
<div class="m-2" style="border:20px solid #78e2a0;border:10px solid var(--accent);background:transparent;margin:10px 0;padding:20px">
<font class="d-flex justify-content-center" style="font-size:50px;">
<i class="fas fa-video"></i>
</font>
<div class="text-center">
<b>Live Videos</b>
</div>
</div>
</div>

<div class="col-6">
<div class="m-2" style="border:20px solid #78e2a0;border:10px solid var(--accent);background:transparent;margin:10px 0;padding:20px">
<font class="d-flex justify-content-center" style="font-size:50px;">
<i class="fas fa-chart-bar"></i>
</font>
<div class="text-center">
<b>Live Stats</b>
</div>
</div>
</div>

<div class="col-6">
<div class="m-2" style="border:20px solid #78e2a0;border:10px solid var(--accent);background:transparent;margin:10px 0;padding:20px">
<font class="d-flex justify-content-center" style="font-size:50px;">
<i class="fas fa-map"></i>
</font>
<div class="text-center">
<b>Live Heat Map</b>
</div>
</div>
</div>

<div class="col-6">
<div class="m-2" style="border:20px solid #78e2a0;border:10px solid var(--accent);background:transparent;margin:10px 0;padding:20px">
<font class="d-flex justify-content-center" style="font-size:50px;">
<i class="fab fa-twitter"></i>
</font>
<div class="text-center">
<b>Live Tweets</b>
</div>
</div>
</div>


</div>
<br>
<div>
<font style="font-size: 20px;">
<b>
“Corona virus is not a cult, perception or religion to discuss if it is real or not.
People who don’t believe that Corona Virus is real. Are inconveniencing and endangering the lives of others. They become the carriers of the virus and spreading it everywhere. For your own sake. Stay at HOME.”
― De philosopher DJ Kyos
</b>
</font>
</div>
<div class="post on-list">
    <h1 class="post-title">
        # Affected Areas
    </h1>
    <div class="post-cover container" id="map"></div>

</div>


<div class="post on-list">
    <h1 class="post-title">
        # NCDC Trends
    </h1>
    <a class="twitter-timeline" href="https://twitter.com/NCDCgov?ref_src=twsrc%5Etfw">Tweets by NCDCgov Powered by Zeevx</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
