<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            {{ partial "logo.html" . }}
        </div>
        <div class="menu-trigger">&#128567</div>
    </div>
    {{ if len $.Site.Menus }} {{ partial "menu.html" . }} {{ end }}
</header>
<p class="type-text" title="In times like this we can only help one another;Coded by *Adams Paul* \nMonitor Covid19's activities in Nigeria Live; Stay Safe , I Love You!;">:)</p>


<div id="output" class="post-box"></div>



<script>
    $.getJSON('https://corona.lmao.ninja/v3/covid-19/countries/Nigeria', function(data) {

        var output = document.getElementById('output');
        output.innerHTML = `
        <div class="">
            <h1 class="post-title">
                # Nigeria Live Stats
            </h1>
            <div>
                <font style="font-size: 20px;">🔥 No of Recovered Cases: <b>${data.recovered}</b></font>
            </div>
            <div>
                <font style="font-size: 20px;">🤢 No of New Cases Today: <b>${data.todayCases}</b></font>
            </div>
            <div>
                <font style="font-size: 20px;">🤒 No of Confirmed Cases: <b>${data.cases}</b></font>
            </div>
            <div>
                <font style="font-size: 20px;">😭 No of Death: <b>${data.deaths}</b></font>
            </div>
        
        </div>
        `;

    });
</script>
